---
const {
  frontmatter: { title, description, pubDate, image, author },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script
      src="https://kit.fontawesome.com/400e27f1db.js"
      crossorigin="anonymous"
    ></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header class="container kaes">
      <h1>{title}</h1>
      <nav>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/resume">resume</a></li>
          <li><a href="/credits">credits</a></li>
        </ul>
      </nav>
    </header>
    <main class="container kaes">
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
    --font-size: 16px;
  }
  h1 {
    --font-size: 1.75rem;
    --typography-spacing-vertical: 1rem;
  }

  .kaes {
    padding: 1rem;
  }

  header {
    background-color: rgb(231, 241, 238);
  }

  div.card {
    padding: 0.5em;
    display: inline-block;
  }

  .tech {
    display: inline-block;
    margin: 1em;
    white-space: nowrap;
  }
</style>
